/* #region GLOBAL */

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: serif;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

/* #endregion */